* {
    zoom: 109%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:100px;
}

.college-table {
    grid-column: 1;
    width: 700px;
    border-collapse: collapse;
    margin: 10px;
}

.college-table th, .college-table td {
    border: 1px solid #8d8d8d;
    padding: 5px;
    text-align: left;
}

th, .header {
    background-color: #000000;
    color: white;
    text-align: center;
    margin: 1px;
    padding: 3px;
}

.filter {
    grid-column: 2;
    border-collapse: collapse;
}

.filter {
    border: 1px solid black;
    padding: 0px;
    width: 400px;
    font-size: 13pt;
}



.filterter td {
    display: flex;
justify-content: space-between;
}


.radios {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 20px;
}

.radios input[type="radio"] {
    margin-right: 0px;
}

.radios label {
    display: inline-flex;
    align-items: center;
}

.textfilters {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.textfilters input {
    width: 100px;
}